<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Bootstrap News Template - Free HTML Templates</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="Bootstrap News Template - Free HTML Templates" name="keywords">
	<meta content="Bootstrap News Template - Free HTML Templates" name="description">

	<!-- Favicon -->
	<link href="img/favicon.ico" rel="icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">

	<!-- CSS Libraries -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="lib/slick/slick.css" rel="stylesheet">
	<link href="lib/slick/slick-theme.css" rel="stylesheet">

	<!-- Template Stylesheet -->
	<link th:href="@{/css/login.css}" rel="stylesheet">
</head>

<body>
	<div class="login-wrap">
		<div class="login-html">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
				In</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>

			<div class="login-form">
				<form th:action="@{/login}" th:object="${User}" method="post"  class="form-login">
					<div class="sign-in-htm">
						<div class="group">
							<label for="user" class="label">Username</label>
							<input th:field="*{username}" id="user" class="input"  type="text"
								placeholder="Nhập username" required>
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input th:field="*{password}" id="pass" type="password" class="input" data-type="password"
								 placeholder="Nhập password" required>
						</div>
						<span th:if="${mess!=null}" style="color:red;font-size: 1rem;" th:text="${mess}"></span>

						<div class="group">
							<input id="check" type="checkbox" class="check" checked>
							<label for="check"><span class="icon"></span> Keep me Signed in</label>
						</div>
						<div class="group">
							<input type="submit" class="button" value="Sign In">
						</div>
						<div class="hr"></div>
						<div class="foot-lnk">
							<a href="#forgot">Forgot Password?</a>
						</div>
					</div>
				</form>
				<form th:action="@{/logup}" method="post" >
					<div class="sign-up-htm">
						<div class="group">
							<label for="user" class="label">Name</label>
							<input name="name" value="" id="name" type="text" class="input">
						</div>

						<div class="group">
							<label for="user" class="label">Username</label>
							<input name="username" value="" id="username" type="text" class="input">
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input name="password" value="" id="password" type="password" class="input" data-type="password">
						</div>

						<div class="group">
							<input type="submit" class="button" value="Sign Up">
						</div>
						<div class="hr"></div>
						<div class="foot-lnk">
							<a for="tab-1">Already Member?</a>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</body>

</html>